<div class="about-container">
  <!-- <p class="about-header">ABOUT US</p> -->
  <hr class="hr-about"></hr>
  <h1 class="mission-statement"><i>Our goal is to simplify the process of planning fundraisers for student
    organizations and businesses</i></h1>
  <hr class="hr-about"></hr>
  <h2 class="origin-story-header">Origin Story</h2>
  <p class="origin-story-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu turpis tortor. Mauris blandit eros velit, non elementum mauris eleifend eget. Donec massa risus, mollis in tristique vitae, bibendum quis massa. In vulputate erat sit amet laoreet ornare. Vivamus mollis, enim quis lobortis imperdiet, felis mauris maximus ex, iaculis malesuada elit lorem eu quam. Maecenas blandit a purus nec molestie. Quisque pharetra lacus lacus, et auctor nisi tincidunt non. Sed venenatis turpis sit amet facilisis molestie.</p>
</div>
