<!-- BIZ DASHBOARD -->
  <div class="container-fluid">
    <div class="row" style="margin-top:5px">
      <div class="col-sm-12 col-12">
          <div class="dashboard-container">
            <p class="dashboard-header">Dashboard</p>
            <div class="row" style="justify-content: center">
              <ul class="nav nav-tabs">
                <li class="active"><a class="nav-link org-menu-selects" style="color:#1B5689; cursor:pointer" ui-sref=".eventList">Event Requests</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ui-sref=".calendar">Event Calendar</a></li>
                <li><a class="org-menu-selects nav-link" style="color:#1B5689; cursor:pointer" ui-sref=".pastEvents">Past Events</a></li>
              </ul>
            </div>
            <div ui-view>
            </div>
        </div>
      </div>
    </div>
  </div>
