<body>
<section ng-controller="HomeController" ng-init="refreshHandler()">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item" ng-repeat="event in eventList" ng-class="{active : $first}">
        <img src={{event.banner}} alt="carousel {{$index}}">
        <div class="carousel-caption">
          <h3 id="eventData">{{event.name}}</h3>
          <h4 id="eventData">{{event.dateOfEvent | date:"MM'/'dd'/'yyyy"}}  {{event.startTime | date:"hh:mm a"}} - {{event.endTime | date:"hh:mm a"}}</h4>
          <p id="eventData">{{event.location}}</p>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="font-family:'', serif !important">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="font-family:'', serif !important">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div ui-view>
    </div>
</section>
</body>
