html * {
    font-family: 'Source Sans Pro', sans-serif ;
}

body {
    /*https://www.pexels.com/photo/armchairs-blur-business-chair-296883/ */
    background-image: url("https://static.pexels.com/photos/296883/pexels-photo-296883.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.button {
  background-color: transparent;
  font-size: 15px;
  color: white;
}

a.button:hover {
  background-color: transparent;
  color: #F5A623;
}

a.button:focus {
  background-color: transparent;
  color: #F5A623;
}

.button-sign-up {
  background-color: #F5A623;
  font-size: 15px;
  color: white;
  padding: 1px;
  border-width:1px;
  border-color: white;
  border-style: solid;
  border-radius: 1px;
}

.panel-default > .panel-heading-custom {
  background-image: none;
  background: #1B5689;
  color: white;
}

.about-header {
  font-weight: bolder;
  font-size: 45px;
  color: black;
  text-align: center;
}

.mission-statement {
  color: #F5A623;
  text-align: center;
}

.about-container {
  background-color: rgba(249, 249, 249, 0.85);
  padding: 25px;
  border-width:1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.faq-container {
  overflow: auto;
  background-color: rgba(249, 249, 249, 0.85);
  padding: 25px;
  border-width:1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.mission-statement-container {
  background-color: rgba(27, 86, 137, 0.85);
  padding: 25px;
  border-width:1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.hr-about {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #F5A623; /* old IE */
    background-color: #F5A623; /* Modern Browsers */
}

.origin-story-container {
  background-color: rgba(249, 249, 249, 0.85);
  padding: 25px;
  border-width:1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.origin-story-header {
  color: black;
  text-align: center;
}

.origin-story-content {
  margin-top: 20px;
  font-size: 18px;
  color: black;
}
.about-div {
  background-color: rgba(27, 86, 137, 0.96);
  z-index: 22;
  padding: 20px;
  border-radius: 5px;
}

.faq-div {
  background-color: rgba(27, 86, 137, 0.96);
  z-index: 22;
  padding: 20px;
  border-radius: 5px;
}

.faq-text {
  color: F5A623;
}


/*.parallax {
     The image used
    background-image: url("img_parallax.jpg");

    Set a specific height
    height: 100%;

     Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.dashboard-header {
  font-weight: bold;
  font-size: 35px;
  color: black;
  text-align: center;
}

.dashboard-container {
  background-color: rgba(249, 249, 249, 0.85);
  padding: 25px;
  border-width:1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

.container-fluid {
    background-color: none;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}

.carousel {
    margin: auto;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    max-width: 85%;
}
/*
.carousel-caption {
  background-image: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}*/

/*.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    max-height: 100%;
}*/

h1, h2, th, label {
    color: black;
}

#eventData {
    color: white;
    mix-blend-mode: hard-light;
}
